
body{
	background:url("../images/1.jpg") 0px 0px no-repeat;
	text-align: center;
	font-family:Nunito-Light;
	background-attachment: fixed;
    background-position: center;
    background-size: cover;
}
@font-face{
	font-family: "Nunito-Light";
	src:url(../fonts/Nunito-Light.ttf);
}

.main-content{
	width:32%;
	background-color: rgba(243, 206, 210, 0.23);
	margin:50px auto;
}

h1{
  font-size:80px;
  color: #fff;
  text-align: center;
  padding-top:20px;
}


/*----sap-----*/
.sap_tabs {
  margin: 0 auto;
  padding:50px 0px;
  text-align: center;
  -webkit-appearance: none;
 }
 
 
.facts{
  padding: 7% 0% 0% 0%;
}



.resp-tab-item:hover {
    border:none;
	background: -webkit-linear-gradient(left, rgb(0, 255, 255) 0px, rgb(151, 251, 160) 10%, rgb(151, 177, 251) 20%, rgb(0, 255, 255) 30%, rgb(0, 255, 255) 40%, rgb(151, 251, 160) 50%, rgb(151, 177, 251) 60%, rgb(0, 255, 255) 70%, rgb(0, 255, 255) 80%, rgb(151, 251, 160) 90%, rgb(151, 177, 251) 100%) 0% 0% / 500% 500%;
	text-shadow: none;
    color: black;
	-moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    -khtml-border-radius: 3px;
	border-radius: 100px 100px;
	transform:rotate(360deg);
	transition:3s;
}
.resp-tab-active {
	padding:50px 30px;
	display:inline-block;
    border:2px solid #fff;
	text-shadow: none;
    color: #fff;
	background:rgba(2, 2, 2, 0.60);
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	-khtml-border-radius: 3px;
	border-radius: 100px 100px;
}

h2.resp-accordion {
  cursor: pointer;
  padding: 5px;
  display: none;
}

.resp-tab-content {
  display: none;
}
.resp-content-active, .resp-accordion-active {
   display: block;
}

/*---------*/
.register input[type="text"],.register input[type="password"],.register input[type="email"]{
	outline:none;
    font-size:16px;
	font-family:Nunito-Light;
	color: #fff;
	padding: 15px 10px;
	border:none;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	-khtml-border-radius: 3px;
	border-radius: 3px;
	width: 40%;
    margin: 0 0 15px 0 ;
	background:rgba(2, 2, 2, 0.60);
	position:relative;
}
.city
{
	outline:none;
    font-size:16px;
	font-family:Nunito-Light;
	color: #fff;
	padding: 15px 10px;
	border:none;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	-khtml-border-radius: 3px;
	border-radius: 3px;
	width: 80%;
    margin: -15px 0 15px 0 ;
	background:rgba(2, 2, 2, 0.60);
	position:relative;
}
.register  select{
	background:rgba(2, 2, 2, 0.60);
	outline:none;
	font-size:16px;
	font-family:Nunito-Light;
	color: #fff;
	border:none;
	width: 80%;
	border-radius: 3px;
	margin: 0 0 15px 0 ;
	height:52px;
}
.datearea select{
	background:rgba(2, 2, 2, 0.60);
	outline:none;
	font-size:16px;
	font-family:Nunito-Light;
	color: #fff;
	border:none;
	width: 25%;
	border-radius: 3px;
	margin: 0 0 15px 0 ;
	height:52px;
	display:inline;

}
.login input[type="text"],.login input[type="password"]{
	outline:none;
    font-size:16px;
	font-family:Nunito-Light;
	color: #fff;
	padding: 15px 10px;
	border:none;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	-khtml-border-radius: 3px;
	border-radius: 3px;
	width: 80%;
    margin: 0 0 15px 0 ;
	background:rgba(2, 2, 2, 0.60);
	position:relative;
}
textarea
{
	outline:none;
    font-size:16px;
	font-family:Nunito-Light;
	color: #fff;
	padding: 15px 10px;
	border:none;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	-khtml-border-radius: 3px;
	border-radius: 3px;
	width: 85%;
    margin: 0 0 15px 0 ;
	background:rgba(2, 2, 2, 0.60);
}
.login a
{
	color:white;
	text-decoration:none;
}




.button input[type="submit"] {
    
    color: #fafa;
	border: 2px solid #fff;
   	font-size: 18px;
	font-family:Nunito-Light;
   	padding: 15px 10px 15px 15px;
   	width: 85%;
   	cursor: pointer;
    outline: none;
    display: inline-block;
    margin-top:24px;
    transition: 0.5s all;
    -webkit-transition: 0.5s all;
   	-moz-transition: 0.5s all;
    -o-transition: 0.5s all;
    -ms-transition: 0.5s all;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	-khtml-border-radius: 3px;
	 border-radius: 30px;
}

.button input[type="submit"]:hover
{
	color: FFFFFF;
    background: -webkit-linear-gradient(left, rgb(0, 255, 255) 0px, rgb(151, 251, 160) 10%, rgb(151, 177, 251) 20%, rgb(0, 255, 255) 30%, rgb(0, 255, 255) 40%, rgb(151, 251, 160) 50%, rgb(151, 177, 251) 60%, rgb(0, 255, 255) 70%, rgb(0, 255, 255) 80%, rgb(151, 251, 160) 90%, rgb(151, 177, 251) 100%) 0% 0% / 500% 500%;
	border-color:FFFFFF;
	transition:5s;
}

 ::-webkit-input-placeholder{
	color:#fff;
}

:-moz-placeholder { /* Firefox 18- */
   color: #fff; 
}

::-moz-placeholder {  /* Firefox 19+ */
   color: #fff;  
}

:-ms-input-placeholder {  
   color: #fff;  
}

h3{
	padding-top:0px;
}

.register a{
	color:#fbfbdd;
	font-size: 18px;
	font-family:Nunito-Light;
}



/*--responsive--*/

@media screen and (max-width:1920px){

h1 { font-size: 52px;	padding-top:50px;	}
.main-content{	width:30%;	}
.sign-up input[type="submit"] {	font-size: 20px;	}
img{height:40px; width:40px; margin-left:-95%;}
}

@media screen and (max-width:1680px){
h1 { font-size: 48px;	padding-top:50px;	}
.main-content{	width:30%;	}
}

@media screen and (max-width:1440px){
h1 {	font-size: 42px;	}

@media screen and (max-width:1366px){
h1 { font-size: 40px;	}
.main-content{	width:32%;	}
.resp-tab-item{	font-size: 22px;	border:1px solid #fff;	}
.sign-up input[type="submit"] {	border: 1px solid #fff;	}
.resp-tab-item:hover {	border:1px solid #fff;	}
.resp-tab-active {	border:1px solid #fff;	}
}

@media screen and (max-width:1280px){
h1 {	font-size: 38px;	}
.main-content{	width:32%;	}
.resp-tab-item{	font-size: 22px;	border:1px solid #fff;	}
.sign-up input[type="submit"] {	border: 1px solid #fff;	}
.resp-tab-item:hover {	border:1px solid #fff;	}
.resp-tab-active {	border:1px solid #fff;	}
}

@media screen and (max-width:1080px){
h1 {	font-size: 34px;	}
.main-content{	width:34%;	}
.resp-tab-item{	font-size: 18px;	border:1px solid #fff;	}
.register input[type="text"],.register input[type="password"] {	font-size:14px;	}
.sign-up input[type="submit"] {	border: 1px solid #fff;	font-size: 18px;	}
.resp-tab-item:hover {	border:1px solid #fff;	}
.resp-tab-active {	border:1px solid #fff;	}
}

@media screen and (max-width:1024px){
h1 { font-size: 34px;	}
.main-content{	width:34%; margin:25px auto;	}
.resp-tab-item{	font-size: 18px;	border:1px solid #fff;	}
.register input[type="text"],.register input[type="password"] {	font-size:14px;	}
.sign-up input[type="submit"] {	border: 1px solid #fff;	font-size: 18px;	}
.resp-tab-item:hover {	border:1px solid #fff;	}
.resp-tab-active {	border:1px solid #fff;	}
}

@media screen and (max-width:800px){
h1 { font-size: 30px; padding-top:75px;	}
.main-content{	width:42%;margin:25px auto;	}
.resp-tab-item{	font-size: 18px;	border:1px solid #fff;	}
.register input[type="text"],.register input[type="password"] {	font-size:14px;	}
.sign-up input[type="submit"] {	border: 1px solid #fff;		font-size: 18px;	}
.resp-tab-item:hover {	border:1px solid #fff;	}
.resp-tab-active {	border:1px solid #fff;	}
}

@media screen and (max-width:768px){
h1 { font-size: 30px; padding-top:75px;	}
.main-content{	width:46%;margin:20px auto;	}
.resp-tab-item{	font-size: 18px;	border:1px solid #fff;	}
.register input[type="text"],.register input[type="password"] {	font-size:14px; margin: 0 0 12px 0 ;	}
.sign-up input[type="submit"] {	border: 1px solid #fff;	font-size: 18px;	padding: 10px 10px 10px 10px;	margin-top:20px;	}
.resp-tab-item:hover {	border:1px solid #fff;	}
.resp-tab-active {	border:1px solid #fff;	}
}

@media screen and (max-width:640px){
h1 { font-size: 28px; padding-top:50px;	}
.main-content{	width:48%;margin:20px auto;	}
.resp-tab-item{	font-size: 17px;	border:1px solid #fff;	}
.register input[type="text"],.register input[type="password"] {	font-size:13px; margin: 0 0 12px 0 ;	}
.sign-up input[type="submit"] {	border: 1px solid #fff;	font-size: 17px;	padding: 10px 10px 10px 10px;	margin-top:20px;	}
.resp-tab-item:hover {	border:1px solid #fff;	}
.resp-tab-active {	border:1px solid #fff;	}
}

@media screen and (max-width:600px){
h1 { font-size: 28px; padding-top:50px;	}
.main-content{	width:55%;margin:20px auto;	}
.sap_tabs {	padding:25px 0px; }
.resp-tab-item{	font-size: 17px;	border:1px solid #fff;	}
.register input[type="text"],.register input[type="password"] {	font-size:13px; margin: 0 0 12px 0 ;	}
.sign-up input[type="submit"] {	border: 1px solid #fff;	font-size: 17px;	padding: 10px 10px 10px 10px;	margin-top:20px;	}
.resp-tab-item:hover {	border:1px solid #fff;	}
.resp-tab-active {	border:1px solid #fff;	}
}

@media screen and (max-width:480px){
h1 { font-size: 26px; padding-top:25px;	}
.main-content{	width:58%;margin:20px auto;	}
.sap_tabs {	padding:25px 0px; }
.resp-tab-item{	font-size: 17px;	border:1px solid #fff;	}
.register input[type="text"],.register input[type="password"] {	font-size:13px; margin: 0 0 12px 0 ;	}
.sign-up input[type="submit"] {	border: 1px solid #fff;	font-size: 17px; 	padding: 10px 10px 10px 10px;	margin-top:20px;	}
.resp-tab-item:hover {	border:1px solid #fff;	}
.resp-tab-active {	border:1px solid #fff;	}
}

@media screen and (max-width:414px){
h1 { font-size: 26px; padding-top:25px;	}
.main-content{	width:70%;margin:20px auto;	}
.sap_tabs {	padding:25px 0px; }
.resp-tab-item{	font-size: 17px;	border:1px solid #fff;	}
.register input[type="text"],.register input[type="password"] {	font-size:13px; margin: 0 0 12px 0 ;	}
.sign-up input[type="submit"] {	border: 1px solid #fff;	font-size: 17px; 	padding: 10px 10px 10px 10px;	margin-top:20px;	}
.resp-tab-item:hover {	border:1px solid #fff;	}
.resp-tab-active {	border:1px solid #fff;	}
}

@media screen and (max-width:375px){
h1 { font-size: 24px; padding-top:25px;	}
.main-content{	width:80%;margin:20px auto;	}
.sap_tabs {	padding:25px 0px; }
.resp-tab-item{	font-size: 16px;	border:1px solid #fff;	}
.register input[type="text"],.register input[type="password"] {	font-size:13px; margin: 0 0 12px 0 ;	}
.sign-up input[type="submit"] {	border: 1px solid #fff;	font-size: 16px; 	padding: 10px 10px 10px 10px;	margin-top:20px;	}
.resp-tab-item:hover {	border:1px solid #fff;	}
.resp-tab-active {	border:1px solid #fff;	}
}

@media screen and (max-width:320px){
h1 { font-size: 22px; padding-top:15px;	}
.main-content{	width:90%;margin:20px auto;	}
.sap_tabs {	padding:25px 0px; }
.resp-tab-item{	font-size: 16px;	border:1px solid #fff;	}
.register input[type="text"],.register input[type="password"] {	font-size:13px; margin: 0 0 12px 0 ; padding:10px;	}
.sign-up input[type="submit"] {	border: 1px solid #fff;	font-size: 16px; 	padding: 10px 10px 10px 10px;	margin-top:20px;	}
.resp-tab-item:hover {	border:1px solid #fff;	}
.resp-tab-active {	border:1px solid #fff;	}
.register a{	font-size: 14px;	}
}


	










